 *{
    margin: 0px;
    padding: 0px;
}

.img-content {
    background-image: url("orange-design.jpeg");
    background-size: cover;
    height: auto;
    margin-top: 84px;
}

.caption {
    font-size: 50px;
    color: #fff;
    text-align: center;
    margin: 0 0 20px;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    position: relative;
    top: 20%;
    padding-top: 46%;
}


/**/
.logo-header{
  float: left;
  width: 60px;
  height: 45px;
  margin-top: -12px; 
}

h1{
    float: left;
    font-family: Ar Carter;
}
/**/

 #nav1{
    float: right;
    margin-left: -15px;
 }

 #menu-header{
    background-color:black;
    float: right;
 }

#myBtn,#myBtn1 {
    float: right;
    color: white;
    text-decoration: none;
    padding-right: 0;
}

.size-login{
  font-size: 30px;
}

.modal-header{
    background-color: #5cb85c;
    color: white !important;
    text-align: center;
    font-size: 30px;
    padding:35px 50px;
}
.modal-body{
    padding:40px 50px;
}
.modal-footer {
    background-color: #f9f9f9;
}

/*.container-fluid {
    
    right: 0;
    left: 0;
    z-index: 9999;
    background: black;
}*/
.header-pannel{
  color: white;
      position: fixed;
    right: 0;
    left: 0;
    z-index: 9999;
    background: black;
    margin-left: 15px;
    margin-right: 15px;
}

.header-pannel h1 {
  margin-bottom: 0;
  margin-top: 5px;
  color: white;
}

.btn-danger {
    color: #fff;
    background-color: #d9ad4f;
    border-color: #d9ad4f;
}

/*show menu*/




.color-p-login,.color-label{
  color: black;
}


.item1{
    width: 100%;
}



.navbar-default{
  margin-top: 34px;
}


.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    background: black;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 0px;
    margin-left: 0px;
    background: black;
}


 /*ban dau*/
  .jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: transparent;
}



/*.jumbotron {
    padding-top: 115px;
    padding-bottom: 0px;
    margin-bottom: -65px;
    color: inherit;
    background-color: transparent;
    width: 55%;
    margin-left: 526px;
}*/

  .logo {
      color: #f4511e;
      font-size: 200px;
  }

  .title-introduce{
    font-size: 30px;
    color: #cf9b67;
    font-family: Sriracha,sans-serif;
    letter-spacing: 1px;
    display: block;
    line-height: 32px;
    text-align: center;
  }

  .name{
        margin: 14px 0 34px;
    line-height: 42px;
    padding-bottom: 35px;
    position: relative;
    font-size: 40px;
    font-family: Roboto,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .mission {
    line-height: 24px;
    text-align: justify;
}
.mission h2 {
    color: #cf9b67;
    display: block;
    font-family: Sriracha,sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 32px;
    margin: 0 0 15px;
}

.mission ul {
    padding-left: 15px;
    padding-bottom: 25px;
}

.mission ul li{
      padding-left: 24px;
    position: relative;
}

.img-introduce{
    display: block;
    max-width: 60%;
    height: auto;
    padding-right: 40px;
    position: relative;
    right: -200px;
}


/*CSS FOR FOOD*/

.active {
  background: #cf9b67;
}
.text-center {
  width: 100%;
  padding-right: 10px;
}
.subtitles {
  color: #cf9b67;
    font-family: Sriracha,sans-serif;
    letter-spacing: 1px;
    display: block;
    line-height: 32px;  
    font-size: 30px;
}

.text-menu {
    font-size: 30px;
    color: #cf9b67;
    font-family: Sriracha,sans-serif;
    letter-spacing: 1px;
    display: block;
    line-height: 32px;
    text-align: center;
}

hr {
  border: 1px solid black;
  width: 35%;
  margin-left: 33%;

}

.wrapper {
  background-color: white;
  width: 1500px;
  height: 1000px;
  margin-left: 60px auto;
  margin-right: 60px auto;
  padding: 60px;
}

#h-menu {
  margin-left: 200px;
}
#h-menu ul {
  list-style: none; /* quan trong */
  font-family: Arial, san-serif;
  font-size: 12px;
  padding: 0px;
}

#h-menu ul li {       
  float: left;
  position: relative; /* tuyet  */
}

.category-filter li a {
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  padding: 10px 30px;
  margin-right: 50px;
  margin-left: 40px;
  text-transform: uppercase;
  font-size: 16px;
  min-width: auto;
  position: relative;
  border: 1px solid gray;
  border-radius: 10px;
}

section {
  float: left;
  min-height: 300px;
  width: 100%;
}

.category-filter li a.current,.category-filter li a:hover {
  background-color: #cf9b67;
  color: white;
  border-color: #cf9b67;
}


#product > a {
  max-height: 300px;
  max-width: 300px;
  display: block;
  overflow: hidden;
  text-align: center;
}

.col-sm-3 img {
  width: 300px;
  height: 300px;
  transition: 2s;
  position: relative;
}

.col-sm-3:hover img {
  width: 400px;
  height: 400px;
}

b {
  font-size: 22px;
}

.address,
.face {
  color: #999999;
  font-size: 18px;
}

.filterDiv {
  float: left;
  color: black;
  width: 300px;
  line-height: 25px;
  text-align: center;
  margin: 2px;
  display: none;
  border: 1px solid #EEEEEE;
  position: relative;
  margin-top: 30px;
}

.overlay {
  position: absolute;

}

.fliterDiv: hover .overlay {
  display: block;
}

.button {
  position: absolute;
  width: 500px;
  left: -100px;
  top: 263px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.button button {
  background-color: #cf9b67;
  width: 140px;
  height: 37px;
  position: relative;
  background-image: url('shoppingcart1.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 3px;
  padding-left: 10px;

}

.filterDiv:hover .button {
  opacity: 1;
}

.row {
  margin-top: 10px;
  overflow: hidden;
}
.show {
  display: block;
}

h3 {
  font-size: 20px;
}

.price {
  color: #cf9b67;
  font-size: 16px;
  font-weight: bold;
  font-family:  Arial, san-serif;
}

#service-content {
  width: 100%;
  height: 800px;
  font-family: Arial, san-serif;
}
#text-service{
  color: #cf9b67;
  font-size: 40px;
}

.banh-mut img {
  transition: width 2s;
   display: inline-block;
  width: 225px;
   height: 225px;
   background-color: #3e3e3e;
   background-image: none;
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;

}

#tx-content {
  text-align: center;
}
#emprize {
  font-size: 16px;
  font-weight: bold;

}

#map {
  width: 100%;
  height: 400px;
  font-family: Arial, san-serif;
  position: relative;
}

iframe {
  text-align: center;
  margin-left: -100px;
}

.item {
 height: auto;
    margin-top: 85px;
}

.item-text {
  color: #cf9b67;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.phone {
  font-weight: bold;
  font-size: 25px;
  color: #cf9b67;
}

#new {
  width: 100%;
  height: 600px;
  padding-bottom: 140px;
}
#content {
  float: left;
  display: block;
}

.product > a {
  max-height: 300px;
  max-width: 300px;
  display: block;
  overflow: hidden;
  text-align: center;
}

.message {
  font-size: 20px;
  font-family: Arial, san-serif;
  font-weight: bold;
}
.active {
  background:  #cf9b67;
}